.home-container {
    padding: 27px 40px;
}

.home-content h2 {
    color: #000000;
    font-size: 48px;
    display: flex;
    align-items: center;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.home-content p {
    display: flex;
    font-size: 24px;
    align-items: center;
    color: #7E7E7E;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-bottom: 27px;
}

.start-button {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    width: 101px;
    height: 40px;
    padding: 5px 18px;
    color: #ffffff;
    border-radius: 4px;
}