@import url('https://fonts.googleapis.com/css2?family= Roboto: família= Roboto:wght@400;500;700 & display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}