.profile-container {
    background-color: #FFFFFF;
    height: 40px;
    padding: 5px 67px 8px 0px;
    margin-left: 14px;
    margin-right: 16px;
    border-radius: 4px;
    margin-bottom: 5px;
    border: 1px solid #D9D9D9;
}

.profile-title {
  display: inline;
  color: #737373;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;

}

.profile-description {
  display:inline;
  color: #737373;
  font-size: 16px;
  font-style: normal;
}

.profile-descriptionUrl {
  display:inline;
  color: #0029FF;
  font-size: 16px;
  font-style:normal;
  font-weight: 500;
}

